<div class="form">
  <form action="POST">
    <for(field in "${formFields}") >
      <if( "${field.fieldType}" =='input')>
        <input type="${field.inputType}" placeholder="${field.text}" class="${field.fieldLength}" />
      </if>
      <if( "${field.fieldType}" =='button')>
        <button> ${field.text} </button>
      </if>
    </for>
  </form>
</div>
