<var name="title" value="data.title" wbind='./index.js' />
<div class="main-img">
  <img src="src\ui-modules\app-main-content\lib\sample.JPG" alt="" />
  <h2>
<span>
Our philosophy
</span>
  </h2>
</div>
