<div class="leadership-person">
  <div class="row">
    <div class="four columns">
      <img src="${person.imgSrc}" />
    </div>
    <div class="eight columns">
      <p> <strong> ${person.title} </strong> </p>
      <p> ${person.statment} </p>
      <p> <i> ${person.contact} </i> </p>
    </div>
  </div>
</div>
