<lasso-page
  name="${data.name}"
  package-path="${data.browser}"
/>

<head>
    <include("../../ui-modules/app-header/template.marko", {}) />
</head>
<body>
  <div class="container">
    <div class="videoIntro">
    </div>
  </div>
  <div class="container">
    <include("../../ui-modules/app-footer/template.marko", {}) />
  </div>
</body>
